{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/buy_and_delivery.css' %}">
{% endblock %}


{% block header %}
{% include 'nav.html' %}
{% endblock %}


{% block main %} 
<main>
    <div class="pay_n_delivery">
        <div class="container">
            <div class="pay_n_delivery__wrap">
                <h2 class="pay_n_delivery__title philosopher">
                    Оплата и Доставка
                </h2>
                <div class="pay_n_delivery__subtitle">
                    Окончательная стоимость заказа включает в себя стоимость 
                    товаров и стоимость доставки. Оплата стоимости товаров и 
                    стоимости доставки производится едиными формой.
                </div>
                <div class="pay_n_delivery__block">
                    <div>Минск</div>
                    Самовывоз из магазина в Минске 40 (2 — 4 дня). Бесплатно.
                    После комплектации заказа вам надо будет самостоятельно 
                    забрать его в течение 5 календарных дней по адресу: 
                    г. Минск, пр-т Независимости 154, тел. (017) 256 47 98, 
                    с 10:00 до 20:00 ежедневно. Мы сообщим вам о наличии 
                    заказа в пункте самовывоза по электронной почте, телефону, 
                    SMS или PUSH-уведомлением.
                </div>
                <div class="pay_n_delivery__block">
                    <div>Курьером по Минску (1 — 5 дней)</div>
                    Стоимость 6,00 руб. Бесплатно при заказе от 60,00 руб.
                    Заказ будет доставлен вам в Минске после полной его комплектации. 
                    Указание контактного телефона обязательно.
                </div>
                <div class="pay_n_delivery__block">
                    <div>Предоплата банковской картой</div>
                    Предоплата производится через интернет в режиме реального времени 
                    непосредственно после оформления заказа. Минимальная сумма платежа 
                    составляет 0,10 рублей. Максимальная — 1000 рублей. 
                    К оплате принимаются карты Visa/MasterCard всех типов.
                    За начисление сash-back при оплате заказов по карте компания 
                    ответственности не несет.
                    Эту информацию вы можете уточнить в вашем банке.
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}


{% block scripts %} 

{% endblock %}