{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/product_page.css' %}">
<link rel="stylesheet" href="{% static 'css/product_page-psill.css' %}">
{% endblock %}

{% block header %}
<header class="header">
    {% include 'nav.html' %}
    <div class="hero">
        <img class="hero__img" src="{{ product.image }}">
        <div class="hero__bg" style="background-color:{{ product.bgColor }};"></div>
        <div class="container">
            <div class="hero__wrap">
                <h2 class="hero__title philosopher">{{ product.name }}</h2>
                <form class="form">
                    <div class="form__wrapper">
                        <div class="form__capacity">
                            <p>Объём</p>
                            <div class="form__select" onclick="select_click(this)" onselectstart="return false" onmousedown="return false">
                                <span class="form__select_value">
                                    <p>0.5 л</p>
                                </span>
                            </div>
                        </div>
                        <div class="form__num">
                            <span>Количество</span>
                            {% include 'amount.html' with value=1 class='form__amount' from_prod_page=True %}
                        </div>
                        <div class="form__price">
                            <p>Цена</p>
                            <span>{{ product.price }} руб</span>
                        </div>
                    </div>
                    <div class="hero__description">{{ product.description }}</div>
                    <a class="form__submit btn btn-t2 btn-t2-hover" onclick="toggle_cart('{{ product.title }}', true, true, true)">
                        <span>Купить</span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block main %}
<main>
    <section class="properties">
        <div class="container">
            <div class="properties__wrap">
                <div class="properties__img">
                    <img src="{% static 'img/psill_page.png' %}">
                </div>
                <div class="properties__content">
                    <div class="properties__title philosopher">Зачем нужен псиллиум?</div>
                    <ul class="properties__list">
                        {% include 'product_numered_li.html' with index='01' text='Улучшает пищеварение, очищает организм' %}
                        {% include 'product_numered_li.html' with index='02' text='Заменяет глютен в выпечке' %}
                        {% include 'product_numered_li.html' with index='03' text='Снижает давление, уровень холестерина и сахара' %}
                        {% include 'product_numered_li.html' with index='04' text='Избавляет от изжоги' %}
                        {% include 'product_numered_li.html' with index='05' text='Хорошо утоляет голод, помогает похудеть' %}
                        {% include 'product_numered_li.html' with index='06' text='Замедляет усвоение жиров и углеводов' %}
                    </ul>
                    <div class="properties__discription">
                        <div class="properties__useTitle philosopher">
                            Принцип действия
                        </div>
                        <p>Во многих продуктах  содержатся вредные вещества. Например, стабилизаторы и консерванты, в других товарах присутствует пальмовое масло, а о вреде быстрых углеводов знает почти каждый. </p>
                        <p>Всё это способствует развитию сердечно-сосудистых заболеваний, сахарному диабету, онкологиям, проблемам с зубами и многому другому. Конечно, совсем убрать их практически невозможно. Но вы можете заменить вредные ингредиенты полезными.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="fact">
        <div class="container">
            <div class="fact__wrap">
                <div class="fact__img fact__img1">
                    <img src="{% static 'img/fact2.png' %}">
                </div>
                <div class="fact__text philosopher">Cостав: 85% - растворимая клетчатка, не содержит усваиваемых углеводов и жиров, что очень полезно для здоровья. Для сравнения, овсяные и пшеничные отруби только на 15% состоят из такой клетчатки и содержат более 60% усваиваемых углеводов.</div>
                <div class="fact__img fact__img2">
                    <img src="{% static 'img/psill_fact.png' %}">
                </div>
            </div>
        </div>
    </div>
    <div class="properties2">
        <div class="container">
            <div class="properties2__wrap">
                <div class="properties2__text">
                    Псиллиум (семена подорожника) – полноценная и полезная замена глютену, прекрасно скрепляет тесто, делает его пористым, воздушным. Вы можете навсегда убрать из рациона куриные яйца, заменив их семенами подорожника.
                </div>
            </div>
        </div>
    </div>
    <div class="resultImages">
        <div class="container">
            <div class="resultImages__wrap">
                <img id="resultImg1" src="{% static 'img/psill_result1.png' %}">
                <img id="resultImg2" src="{% static 'img/psill_result2.png' %}">
                <img id="resultImg3" src="{% static 'img/psill_result3.png' %}">
                <img src="{% static 'img/list.png' %}">
            </div>
        </div>
    </div>
    <div class="properties3">
        <div class="container">
            <div class="properties3__wrap">
                <div class="properties3__text">
                    Полезные свойства доказаны множеством научных исследований. Псиллиум Pavitra поможет вашему организму в современном образе жизни. Но ему не справиться одному. Для полного эффекта рекомендуют употреблять его вместе с пищевой глиной и касторовым маслом. Вместе они отлично дополняют друг друга, образуя синергический эффект. Покупая их вместе вы экономите 30%.
                </div>
            </div>
        </div>
    </div>
    <div class="howUse2">
        <div class="container">
            <div class="howUse2__wrap">
                <div class="howUse2__img">
                    <img src="{% static 'img/secret2.png' %}">
                </div>
                <div class="howUse2__content">
                    <div class="whyMe">
                        <div class="whyMe__title philosopher">Чем Pavitra лучше других?</div>
                        <ul class="whyMe__list">
                            {% include 'product_numered_li.html' with index='01' text='Мы производим пищевой псиллиум из настоящего индийского подорожника, который безопасен даже для беременных и кормящих мам' %}
                            {% include 'product_numered_li.html' with index='02' text='Покупая напрямую у нас, как у производителя, вы защищаете себя от покупки некачественного продукта и подделок, экономите свои деньги' %}
                        </ul>
                    </div>
                    <div>
                        <div class="howUse2__title philosopher">Как употреблять псиллиум Pavitra?</div>
                        <p>Для приёма разведите 2-3 чайные ложки порошка в стакане жидкости, Пейте через  10-15 минут. Рекомендуется выпить за 1 час до еды, либо через 2 часа после.</p>
                        <p>Псиллиум можно добавлять в выпечку</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %} 
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/product_page.js' %}"></script>
{% endblock %}