{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/product_page.css' %}">
<link rel="stylesheet" href="{% static 'css/product_page-oil.css' %}">
{% endblock %}

{% block header %}
<header class="header">
    {% include 'nav.html' %}
    <div class="hero">
        <img class="hero__img" src="{{ product.image }}">
        <div class="hero__bg" style="background-color:{{ product.bgColor }};"></div>
        <div class="container">
            <div class="hero__wrap">
                <h2 class="hero__title philosopher">{{ product.name }}</h2>
                <form class="form">
                    <div class="form__wrapper">
                        <div class="form__capacity">
                            <p>Объём</p>
                            <div class="form__select" onclick="select_click(this)" onselectstart="return false" onmousedown="return false">
                                <span class="form__select_value">
                                    <p>0.5 л</p>
                                </span>
                            </div>
                        </div>
                        <div class="form__num">
                            <span>Количество</span>
                            {% include 'amount.html' with value=1 class='form__amount' from_prod_page=True %}
                        </div>
                        <div class="form__price">
                            <p>Цена</p>
                            <span>{{ product.price }} руб</span>
                        </div>
                    </div>
                    <div class="hero__description">{{ product.description }}</div>
                    <a class="form__submit btn btn-t2 btn-t2-hover"
                        onclick="toggle_cart('{{ product.title }}', true, true, true)">
                        <span>Купить</span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block main %}
<main>
    <section class="properties">
        <div class="container">
            <div class="properties__wrap">
                <div class="properties__img">
                    <img src="{% static 'img/proprtyes_img1.png' %}">
                </div>
                <div class="properties__content">
                    <div class="properties__title philosopher">Свойства</div>
                    <ul class="properties__list">
                        {% include 'product_numered_li.html' with index='01' text='Очищает организм от токсинов, улучшает пищеварение' %}
                        {% include 'product_numered_li.html' with index='02' text='Является действенным и мягким слабительным' %}
                        {% include 'product_numered_li.html' with index='03' text='Увлажняет и разглаживает кожу, заживляет раны' %}
                        {% include 'product_numered_li.html' with index='04' text='Укрепляет волосы, избавляет от перхоти' %}
                    </ul>
                    <div class="properties__discription">
                        Как известно, здоровье начинается с чистого кишечника. Поэтому главное назначение масла Pavitra
                        - приём внутрь. Если вы замечали у себя неприятный запах изо рта, высыпания на коже, головные
                        боли или нарушения в работе желудочно-кишечного тракта, то это повод задуматься о начале
                        систематического использования касторового масла. Оно бережно обволакивает стенки кишечника,
                        выводит вредные вещества, восстанавливает и нормализует здоровую флору.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="fact">
        <div class="container">
            <div class="fact__wrap">
                <div class="fact__img fact__img1">
                    <img src="{% static 'img/fact2.png' %}">
                </div>
                <div class="fact__text philosopher">Масло Pavitra при приеме внутрь бережно очищает кишечник. Вы ощутите
                    легкость, и как приятный бонус - животик уменьшится в объемах.</div>
                <div class="fact__img fact__img2">
                    <img src="{% static 'img/fact1.png' %}">
                </div>
            </div>
        </div>
    </div>
    <div class="properties2">
        <div class="container">
            <div class="properties2__wrap">
                <div class="properties2__text">
                    Масло также можно применять наружно: оно отлично очищает и восстанавливает кожный покров, при этом
                    не сушит кожу и не образует плёнку. Благодаря питательным веществам, кожа становится более гладкой и
                    упругой. Применение касторки на волосы позволяет восстановить их, сделать более густыми и избавиться
                    от перхоти.
                </div>
            </div>
        </div>
    </div>
    <div class="resultImages">
        <div class="container">
            <div class="resultImages__wrap">
                <img id="resultImg1" src="{% static 'img/resultImg1.png' %}">
                <img id="resultImg2" src="{% static 'img/resultImg2.png' %}">
                <img id="resultImg3" src="{% static 'img/resultImg3.png' %}">
                <img src="{% static 'img/list.png' %}">
            </div>
        </div>
    </div>
    <div class="howUse">
        <div class="container">
            <div class="howUse__wrap">
                <div class="howUse__content">
                    <div class="howUse__title philosopher">Как использовать внутрь для очищения?</div>
                    <div class="howUse__text">
                        <p>Масло рекомендуется пить после 15 часов дня и до 20 часов вечера (идеальное время с
                            17:00-19:00). Последняя еда в день чистки в 12:00. Перерыв между едой и приемом касторки
                            должен составлять хотя бы 4-5 часов. Не забудьте выпить достаточное количество воды- 1-1.5 л
                        </p>
                        <p>Берём касторовое масло: 2 мл на 1 кг веса (например, вес 70 кг - нужно взять 140 мл,
                            касторки), выжимаем сок апельсина: нужно в два раза больше, чем касторки (280 мл), сок ничем
                            не разбавляем. Соотношение касторового масла и сока - 1:2. Лучше применять именно
                            свежевыжатый, в крайнем случае - можете использовать готовый. Оба ингредиента смешиваем в
                            стакане и сразу же выпиваем. Ждем пока начнет крутить в животике.</p>
                        <p>Обычно через 1,5-2 часа начинается освобождение кишечника от вредных веществ, но может и
                            раньше (даже через 40 минут) или позже (утром следующего дня) - всё зависит от
                            чувствительности организма.</p>
                        <p>Обращаем ваше внимание, что употреблять внутрь можно не любое касторовое масло. В
                            сыродавленном содержатся ядовитые вещества, опасные для здоровья. Мы же предлагаем вам
                            касторку именно для употребления внутрь.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fact">
        <div class="container">
            <div class="fact__wrap">
                <div class="fact__img fact__img2">
                    <img src="">
                </div>
                <div class="fact__text philosopher">Проводим очищение 1 раз в неделю - 5-6 раз, затем делаем перерыв на
                    3 месяца.</div>
                <div class="fact__img fact__img2">
                    <img src="{% static 'img/fact2.png' %}">
                </div>
            </div>
        </div>
    </div>
    <div class="howUse2">
        <div class="container">
            <div class="howUse2__wrap">
                <div class="howUse2__img">
                    <img src="{% static 'img/secret2.png' %}">
                </div>
                <div class="howUse2__content">
                    <div class="howUse2__title philosopher">
                        Как принимать пищевую глину Pavitra?
                    </div>
                    <div>
                        <p>В медицине и косметике касторовое масло применяется не одну сотню лет. Но где-то оно
                            используется в недостаточных количествах, а где-то не с теми ингредиентами.</p>
                        <ul class="howUse2__list">
                            <li>Pavitra предлагает вам самый действенный набор:</li>
                            <li>a) Касторовое масло</li>
                            <li>b) Каолиновая глина</li>
                            <li>c) Псиллиум</li>
                        </ul>
                        <p>Использование этих продуктов вместе позволит вам добиться максимального результата.
                            Каолиновая глина способствует выведению вредных веществ, а касторовое масло ускорит процесс
                            восстановления организма. Псиллиум избавит от лишнего веса.</p>
                    </div>
                    <div class="whyMe">
                        <div class="whyMe__title philosopher">Почему Pavitra?</div>
                        <ul class="whyMe__list">
                            {% include 'product_numered_li.html' with index='01' text='Пищевое масло холодного отжима, без добавок и температурной обработки' %}
                            {% include 'product_numered_li.html' with index='02' text='Покупая продукт напрямую у производителя, вы защищаете себя от покупки некачественного продукта и подделок. А также экономите свои деньги' %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/product_page.js' %}"></script>
{% endblock %}